.home-container {
    margin-top: 180px;
    margin-left: 120px;
}

.home-title {
    font-size: 48px;
    line-height: 64px;
}

.home-subtitle {
    margin-top: 25px;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
}

.home-actions {
    margin-top: 45px;
}