
* {
    font-family: 'Roboto', sans-serif;
  }

  body {
      margin: 0px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 700;
  }
  
  ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  a {
    &:hover {
      text-decoration: none;
      color: unset;
    }
  }

.br-5  {
  border-radius: 5px;
}

.br-4  {
  border-radius: 4px;
}